editor/aistarter_nodered_faq_v2.json
[{"id":"55f8b58.216104c","type":"tab","label":"NLC学習の実行","disabled":false,"info":""},{"id":"95cf1bd6.73ace8","type":"tab","label":"回答データベース作成","disabled":false,"info":""},{"id":"34978aed.753e86","type":"tab","label":"FAQ画面","disabled":false,"info":""},{"id":"e65a4c49.a8b37","type":"tab","label":"データ削除","disabled":false,"info":""},{"id":"d66521ed.2a46c","type":"comment","z":"55f8b58.216104c","name":"学習実行","info":"","x":80,"y":60,"wires":[]},{"id":"8cce4eb6.edae5","type":"inject","z":"55f8b58.216104c","name":"学習データを右のノードに貼り付けてからClick","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":240,"y":100,"wires":[["ac512c69.136e9"]]},{"id":"ac512c69.136e9","type":"template","z":"55f8b58.216104c","name":"学習データ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"","x":530,"y":100,"wires":[["be0fa62d.b959e8"]]},{"id":"be0fa62d.b959e8","type":"watson-natural-language-classifier","z":"55f8b58.216104c","name":"NLCのトレーニング","mode":"create","language":"ja","classifier":"","x":720,"y":100,"wires":[["9a5606d1.f362a8"]]},{"id":"9a5606d1.f362a8","type":"debug","z":"55f8b58.216104c","name":"デバッグ出力","active":true,"console":"false","complete":"payload","x":920,"y":100,"wires":[]},{"id":"d34bd7a3.433918","type":"inject","z":"55f8b58.216104c","name":"classifier(分類機）の一覧取得","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":180,"y":200,"wires":[["eee90d65.a2583"]]},{"id":"eee90d65.a2583","type":"watson-natural-language-classifier","z":"55f8b58.216104c","name":"NLCの状況確認","mode":"list","language":"ja","classifier":"","x":540,"y":200,"wires":[["559fe076.79654"]]},{"id":"559fe076.79654","type":"debug","z":"55f8b58.216104c","name":"デバッグ出力","active":true,"console":"false","complete":"payload","x":800,"y":200,"wires":[]},{"id":"2a6c6581.8954da","type":"comment","z":"55f8b58.216104c","name":"学習結果の一覧","info":"学習を複数回実行した場合、複数classifier_idが出力されるので日付で判断してください。\n","x":100,"y":160,"wires":[]},{"id":"b4e35344.a956c","type":"comment","z":"e65a4c49.a8b37","name":"Cloudant(DB)の回答データ全件削除","info":"","x":160,"y":260,"wires":[]},{"id":"be84fa9b.111c68","type":"inject","z":"e65a4c49.a8b37","name":"cleanup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110,"y":320,"wires":[["b47f5fad.047b2"]]},{"id":"b47f5fad.047b2","type":"cloudant in","z":"e65a4c49.a8b37","name":"全件取得","cloudant":"","database":"answers","service":"node-red-okano-bot-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":240,"y":320,"wires":[["399fc253.b9c82e"]]},{"id":"c732d754.380e68","type":"switch","z":"e65a4c49.a8b37","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":530,"y":320,"wires":[["a139b8dd.276058"],["135c8cc1.3e9963"]]},{"id":"399fc253.b9c82e","type":"function","z":"e65a4c49.a8b37","name":"キー抽出","func":"context.global.payload=msg.payload;\nmsg.payload = context.global.payload.length;\ncontext.global.count = context.global.payload.length;\ncontext.global.unitCnt = 0;\nreturn msg;\n","outputs":1,"noerr":0,"x":380,"y":320,"wires":[["c732d754.380e68"]]},{"id":"135c8cc1.3e9963","type":"function","z":"e65a4c49.a8b37","name":"1件削除","func":"msg.payload = context.global.payload[context.global.count-1];\ncontext.global.count = context.global.count - 1;\ncontext.global.unitCnt += 1;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":340,"wires":[["dcfcf58f.dc1bf8","ac6e18e3.f87d18"]]},{"id":"dcfcf58f.dc1bf8","type":"cloudant out","z":"e65a4c49.a8b37","name":"削除","cloudant":"","database":"answers","service":"node-red-okano-bot-cloudantNoSQLDB","payonly":false,"operation":"delete","x":818.0000228881836,"y":340.0000104904175,"wires":[]},{"id":"e96d0e46.ba45b","type":"delay","z":"e65a4c49.a8b37","name":"","pauseType":"delay","timeout":"110","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":230,"y":380,"wires":[["fc7a9e66.9301b"]]},{"id":"fc7a9e66.9301b","type":"function","z":"e65a4c49.a8b37","name":"Fetch","func":"msg.payload = context.global.count;\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":380,"wires":[["c732d754.380e68"]]},{"id":"a139b8dd.276058","type":"debug","z":"e65a4c49.a8b37","name":"","active":true,"console":"false","complete":"false","x":670,"y":300,"wires":[]},{"id":"98f7f818.bdcda8","type":"comment","z":"e65a4c49.a8b37","name":"NLCの学習データを削除する","info":"","x":140,"y":80,"wires":[]},{"id":"d6bb6cbd.a2bf2","type":"link in","z":"e65a4c49.a8b37","name":"データの初期化(linkin)","links":["ac6e18e3.f87d18"],"x":115,"y":380,"wires":[["e96d0e46.ba45b"]]},{"id":"ac6e18e3.f87d18","type":"link out","z":"e65a4c49.a8b37","name":"データの初期化(linkout)","links":["d6bb6cbd.a2bf2"],"x":755,"y":380,"wires":[]},{"id":"e43dcba8.244ef8","type":"watson-natural-language-classifier","z":"e65a4c49.a8b37","name":"classifierの削除","mode":"remove","language":"en","classifier":"","x":500,"y":140,"wires":[["e8428e66.f13ac"]]},{"id":"e8428e66.f13ac","type":"debug","z":"e65a4c49.a8b37","name":"デバッグログ","active":true,"console":"false","complete":"payload","x":699.9999847412109,"y":140,"wires":[]},{"id":"5c9acb2b.f8a3f4","type":"inject","z":"e65a4c49.a8b37","name":"ペイロードに削除したいclassifier_idを入力","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":217.99996948242188,"y":139.99998664855957,"wires":[["e43dcba8.244ef8"]]},{"id":"eca79188.1fada","type":"function","z":"95cf1bd6.73ace8","name":"登録準備","func":"context.global.payload = msg.payload;\nmsg.payload = context.global.payload.length;\ncontext.global.count = context.global.payload.length;\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":120,"wires":[["211cf58a.98c92a"]]},{"id":"331b50fd.e8e18","type":"inject","z":"95cf1bd6.73ace8","name":"回答登録","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":120,"wires":[["15b8aaf.a92fa55"]]},{"id":"211cf58a.98c92a","type":"switch","z":"95cf1bd6.73ace8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":430,"y":180,"wires":[["64b7d256.ac643c"],["543b66bb.0747b8"]]},{"id":"543b66bb.0747b8","type":"function","z":"95cf1bd6.73ace8","name":"登録","func":"msg.payload = context.global.payload[context.global.count-1];\ncontext.global.count = context.global.count - 1;\ncontext.global.unitCnt += 1;\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":220,"wires":[["60ce52fe.cbe4cc","5bf91329.f8e92c"]]},{"id":"64b7d256.ac643c","type":"debug","z":"95cf1bd6.73ace8","name":"終了","active":true,"console":"false","complete":"payload","x":550,"y":180,"wires":[]},{"id":"4601220b.dd385c","type":"function","z":"95cf1bd6.73ace8","name":"ループ","func":"msg.payload = context.global.count;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":220,"wires":[["211cf58a.98c92a"]]},{"id":"60ce52fe.cbe4cc","type":"cloudant out","z":"95cf1bd6.73ace8","name":"DBに回答登録","cloudant":"","database":"answers","service":"node-red-okano-bot-cloudantNoSQLDB","payonly":true,"operation":"insert","x":780,"y":220,"wires":[]},{"id":"c810cb50.83e148","type":"comment","z":"95cf1bd6.73ace8","name":"Cloudant(DB)に回答を登録する","info":"","x":150,"y":60,"wires":[]},{"id":"7340ede3.efa6c4","type":"delay","z":"95cf1bd6.73ace8","name":"","pauseType":"delay","timeout":"110","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":170,"y":220,"wires":[["4601220b.dd385c"]]},{"id":"1c8fd2d5.9f3dad","type":"comment","z":"95cf1bd6.73ace8","name":"Cloudant(DB)に検索用のIndexを作成する","info":"","x":180,"y":280,"wires":[]},{"id":"ebcbf08c.31dc5","type":"link in","z":"95cf1bd6.73ace8","name":"初期データ登録(linkin)","links":["5bf91329.f8e92c"],"x":55,"y":220,"wires":[["7340ede3.efa6c4"]]},{"id":"5bf91329.f8e92c","type":"link out","z":"95cf1bd6.73ace8","name":"初期データ登録(linkout)","links":["ebcbf08c.31dc5"],"x":655,"y":240,"wires":[]},{"id":"29d89f84.77a4b","type":"function","z":"95cf1bd6.73ace8","name":"index定義","func":"var rev;\nif(msg.payload) rev = msg.payload._rev;\n\n//作成するindexの中身をmsg.payloadに格納する\nmsg.payload = {\n  \"_id\": \"_design/index\",\n  \"views\": {},\n  \"language\": \"javascript\",\n  \"indexes\": {\n    \"byClassName\": {\n      \"analyzer\": \"japanese\",\n      \"index\": \"function (doc) {\\n  index(\\\"class_name\\\", doc.class_name);\\n}\"\n    }\n  }\n};\n\nif (rev) msg.payload[\"_rev\"] = rev;\n\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":340,"wires":[["d32d6233.8056"]]},{"id":"d32d6233.8056","type":"cloudant out","z":"95cf1bd6.73ace8","name":"index登録","cloudant":"","database":"answers","service":"node-red-okano-bot-cloudantNoSQLDB","payonly":true,"operation":"insert","x":680,"y":340,"wires":[]},{"id":"7ffa2c3.a97f1d4","type":"inject","z":"95cf1bd6.73ace8","name":"Index作成","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":120,"y":340,"wires":[["fb6c5a55.351eb8"]]},{"id":"2eb14a04.c63e06","type":"comment","z":"55f8b58.216104c","name":"学習進捗確認","info":"NLCの学習状況確認にclassifier_idを入力しデプロイしてください。","x":90,"y":260,"wires":[]},{"id":"8fefc8ef.0b4bd8","type":"watson-natural-language-classifier","z":"55f8b58.216104c","name":"NLCの学習状況確認","mode":"classify","language":"ja","classifier":"","x":560,"y":300,"wires":[["ff5fc84e.09d778"]]},{"id":"a70cb2ac.da85c","type":"inject","z":"55f8b58.216104c","name":"Classifier_idを右のノードに設定してからClick","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":230,"y":300,"wires":[["8fefc8ef.0b4bd8"]]},{"id":"ff5fc84e.09d778","type":"debug","z":"55f8b58.216104c","name":"デバッグ出力","active":true,"console":"false","complete":"payload","x":800,"y":300,"wires":[]},{"id":"94d96593.715938","type":"comment","z":"55f8b58.216104c","name":"学習結果確認","info":"NLCの学習結果確認にclassifier_idを入力しデプロイしてください。","x":90,"y":360,"wires":[]},{"id":"795ac1f5.dbaad","type":"watson-natural-language-classifier","z":"55f8b58.216104c","name":"NLCの学習結果確認","mode":"classify","language":"ja","classifier":"","x":560,"y":400,"wires":[["b7e639c8.f71388"]]},{"id":"cb541056.c0829","type":"inject","z":"55f8b58.216104c","name":"ペイロードに質問を入力してからClick","topic":"","payload":"NLCの結果がみたい","payloadType":"str","repeat":"","crontab":"","once":false,"x":210,"y":400,"wires":[["795ac1f5.dbaad"]]},{"id":"b7e639c8.f71388","type":"debug","z":"55f8b58.216104c","name":"デバッグ出力","active":true,"console":"false","complete":"payload","x":800,"y":400,"wires":[]},{"id":"15b8aaf.a92fa55","type":"template","z":"95cf1bd6.73ace8","name":"回答データをここにコピペ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"","output":"str","x":320,"y":120,"wires":[["175c1259.f2d31e"]]},{"id":"175c1259.f2d31e","type":"csv","z":"95cf1bd6.73ace8","name":"データ変換","sep":",","hdrin":"","hdrout":"","multi":"mult","ret":"\\n","temp":"class_name,answer,ref_url","x":550,"y":120,"wires":[["eca79188.1fada"]]},{"id":"b89d87de.718dc8","type":"cloudant in","z":"95cf1bd6.73ace8","name":"検索","cloudant":"","database":"answers","service":"node-red-okano-bot-cloudantNoSQLDB","search":"_id_","design":"index","index":"byClassName","x":390,"y":340,"wires":[["29d89f84.77a4b"]]},{"id":"fb6c5a55.351eb8","type":"function","z":"95cf1bd6.73ace8","name":"Index検索","func":"msg.payload = \"_design/index\";\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":340,"wires":[["b89d87de.718dc8"]]},{"id":"7f87eb7a.2af334","type":"catch","z":"95cf1bd6.73ace8","name":"検索ノードエラー検知","scope":["b89d87de.718dc8","9a523bd9.c6e358"],"x":340,"y":380,"wires":[["2404b8bc.009a28","625ff36f.f2384c"]]},{"id":"2404b8bc.009a28","type":"function","z":"95cf1bd6.73ace8","name":"初回メッセージ","func":"if(msg == \"Error: missing\"){\n    node.warn(\"初回作成時は[Error: Error: missing]が出ます。\");\n}\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":380,"wires":[[]]},{"id":"625ff36f.f2384c","type":"debug","z":"95cf1bd6.73ace8","name":"エラー内容","active":true,"console":"false","complete":"true","x":530,"y":420,"wires":[]},{"id":"53519742.4eaa58","type":"comment","z":"34978aed.753e86","name":"チャットへの入力処理","info":"","x":120,"y":180,"wires":[]},{"id":"6c654612.2ca448","type":"http in","z":"34978aed.753e86","name":"","url":"/faq","method":"post","upload":false,"swaggerDoc":"","x":100,"y":240,"wires":[["268e307e.cf3d4"]]},{"id":"82fedeb3.9c3ed","type":"function","z":"34978aed.753e86","name":"回答なし","func":"msg.answer = '申し訳ございません。回答が見つかりません。';\nmsg.ref_url = \"\";\nmsg.confidence = \"0%\";\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":480,"wires":[["f353cc40.6ec3f"]]},{"id":"f353cc40.6ec3f","type":"template","z":"34978aed.753e86","name":"レスポンスの定義","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\n    {{#classes}}\n    \"class{{index}}\" : \"{{class_name}}\",\n    {{/classes}}\n    \"response\" : \"{{answer}}\",\n    \"confidence\" : \"{{confidence}}\",\n    \"ref_url\" : \"{{ref_url}}\"\n}","x":930,"y":480,"wires":[["6ab3c00c.9c588","e5ccb077.4f79b","1a94b0db.f3143f"]]},{"id":"6ab3c00c.9c588","type":"http response","z":"34978aed.753e86","name":"画面表示","statusCode":"","headers":{},"x":1120,"y":480,"wires":[]},{"id":"dc4f4942.9cc7f8","type":"cloudant in","z":"34978aed.753e86","name":"検索","cloudant":"","database":"answers","service":"node-red-okano-bot-cloudantNoSQLDB","search":"_idx_","design":"index","index":"byClassName","x":930,"y":400,"wires":[["e54407ff.c1a4e8"]]},{"id":"c02583e9.4b3dd","type":"watson-natural-language-classifier","z":"34978aed.753e86","name":"（NLC）質問内容判定","mode":"classify","language":"en","classifier":"","x":520,"y":240,"wires":[["8cf30504.968be8","49817bcd.cd4fa4"]]},{"id":"268e307e.cf3d4","type":"function","z":"34978aed.753e86","name":"入力テキスト受け渡し","func":"context.global.input_text =  msg.payload.input_text;\nmsg.payload = msg.payload.input_text;\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":240,"wires":[["c02583e9.4b3dd","337fc136.c1cc3e"]]},{"id":"8cf30504.968be8","type":"function","z":"34978aed.753e86","name":"確信度評価（80%以上のみ）","func":"var answerClass = {};\nanswerClass.confidence = 0;\nmsg.classes = msg.payload.classes;\nfor(var i=0;i<msg.classes.length;i++){\n    msg.classes[i].index = i;\n    if(msg.classes[i].class_name == msg.payload.top_class) {\n        if(answerClass.confidence < msg.classes[i].confidence) {\n            answerClass = msg.classes[i];\n        }\n    }\n}\nmsg.top_class = answerClass;\n\nif(answerClass.confidence < 0.8){\n    msg.payload = null;\n} else {\n    msg.payload = answerClass.class_name;\n    context.global.confidence = answerClass.confidence;\n}\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":240,"wires":[["b10e3918.bb9cf8"]]},{"id":"b10e3918.bb9cf8","type":"switch","z":"34978aed.753e86","name":"確信度評価分岐","property":"payload","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":540,"y":440,"wires":[["3ec77ff1.d3037"],["82fedeb3.9c3ed"]]},{"id":"49817bcd.cd4fa4","type":"debug","z":"34978aed.753e86","name":"NLCのデバッグ","active":true,"console":"false","complete":"payload","x":700,"y":200,"wires":[]},{"id":"337fc136.c1cc3e","type":"debug","z":"34978aed.753e86","name":"ユーザーの入力内容","active":true,"console":"false","complete":"payload","x":520,"y":280,"wires":[]},{"id":"e54407ff.c1a4e8","type":"function","z":"34978aed.753e86","name":"回答を整形","func":"msg.answer = msg.payload[0].answer;\nmsg.ref_url = msg.payload[0].ref_url;\nmsg.confidence = Math.round(context.global.confidence*100)+\"%\";\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":400,"wires":[["f353cc40.6ec3f"]]},{"id":"988cbf6.8ebd74","type":"cloudant out","z":"34978aed.753e86","name":"問い合わせログ","cloudant":"","database":"faq-log","service":"node-red-okano-bot-cloudantNoSQLDB","payonly":true,"operation":"insert","x":1300,"y":560,"wires":[]},{"id":"e5ccb077.4f79b","type":"function","z":"34978aed.753e86","name":"ログを保存","func":"msg.payload = {};\nvar date = new Date();\nmsg.payload.date = date;\nmsg.payload.question = context.global.input_text; \nmsg.payload.answer = msg.answer;\nmsg.payload.ref_url = msg.ref_url;\n//その他回答候補用のindexを削除\nmsg.classes.forEach(function(row) {delete row.index;})\nmsg.payload.classes = msg.classes;\nmsg.payload.confidence = msg.confidence;\nmsg.payload.top_class = msg.top_class;\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":560,"wires":[["988cbf6.8ebd74"]]},{"id":"3e9512b3.547b5e","type":"http in","z":"34978aed.753e86","name":"","url":"/faq","method":"get","upload":false,"swaggerDoc":"","x":100,"y":100,"wires":[["96c2936e.dd64d"]]},{"id":"f906cac1.23a608","type":"http response","z":"34978aed.753e86","name":"","x":510,"y":100,"wires":[]},{"id":"81488888.f51c68","type":"comment","z":"34978aed.753e86","name":"チャット画面表示","info":"","x":110,"y":60,"wires":[]},{"id":"360356ad.0dd78a","type":"template","z":"34978aed.753e86","name":"入力画面","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n\n  <head>\n    <base target=\"_top\">\n    <title>chat</title>\n    <link href=\"https://fonts.googleapis.com/icon?family=Material+Icons\" rel=\"stylesheet\">\n\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css\">\n\n    <style>\n      #animated-example { }\n      .animated { \n        animation-duration: 1s; \n        animation-fill-mode: both; \n        animation-timing-function: ease-in; \n      } \n\n      @keyframes shake { \n        0%, 100% {transform: translateX(0);} \n        10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);} \n        20%, 40%, 60%, 80% {transform: translateX(10px);} \n      } \n      .shake { \n        animation-name: shake; \n      }\n\n\n      [v-cloak] {\n        display: none;\n      }\n\n      body {\n        /* overflow: scroll; */\n        background: #FFFFFF;\n        display: flex;\n        min-height: 100vh;\n        flex-direction: column;\n      }\n        \n      .main-container {\n        width: 100%;\n        position: fixed;\n        overflow-y: auto;\n        height: 100%;\n      }\n\n      .gatos {\n        margin: 0 auto;\n        padding: 0px 0 150px;\n      }\n\n      .message {\n        margin-bottom: 1px;\n      }\n\n      .page-footer {\n        padding-top: 1px;\n      }\n\n      #footcon {\n        margin: 0 auto;\n        padding: 0px 0 150px;\n      }\n      #footer {\n        margin-bottom: 0px;\n        bottom: 0;\n        left: 0;\n        width: 100%;\n        height: 100px;\n        position: fixed;\n      }\n\n      loading {\n        background-color: rgba(206, 206, 206, 0.50);\n        line-height: 1.3;\n        text-align: center;\n      }\n\n      .dot {\n        width: .5rem;\n        height: .5rem;\n        border-radius: .5rem;\n        display: inline-block;\n        background-color: #919292\n      }\n\n      .dot:nth-last-child(1) {\n        margin-left: .3rem;\n        animation: loading .6s .3s linear infinite\n      }\n\n      .dot:nth-last-child(2) {\n        margin-left: .3rem;\n        animation: loading .6s .2s linear infinite\n      }\n\n      .dot:nth-last-child(3) {\n        animation: loading .6s .1s linear infinite\n      }\n\n      @keyframes loading {\n        0 {\n          transform: translate(0, 0);\n          background-color: #ababab\n        }\n        25% {\n          transform: translate(0, -3px)\n        }\n        50% {\n          transform: translate(0, 0);\n          background-color: #ababab\n        }\n        75% {\n          transform: translate(0, 3px)\n        }\n        100% {\n          transform: translate(0, 0)\n        }\n      }\n    </style>\n  </head>\n\n  <body>\n\n    <div id=\"app\">\n\n      <div class=\"navbar-fixed\" id=\"header\">\n        <nav>\n          <div class=\"nav-wrapper navbar white\">\n                    \n            <span class=\"grey-text\" style=\"margin-left: 30px; font-size: 24px;\">Starter Chat</span>\n            <ul class=\"right grey-text\">\n              <li><a @click=\"reload\" class=\"btn-floating waves-effect waves-light\"><i class=\"material-icons\">refresh</i></a></li>\n            </ul>\n          </div>\n        </nav>\n      </div>\n\n      <main class=\"main-container\" :class=\"do_shake\">\n        <!-- <div id=\"animated-example\" class=\"animated shake\"> -->\n        \n        <div class=\"container gatos\" id=\"main\">\n\n          <template v-for=\"(msg, index) in messages\">\n\n            <template v-if=\"msg.who == 'bot'\">\n                  \n              <div class=\"row\" style=\"margin-bottom: 2px;\">\n                <div  :key=\"msg.timestamp\" class=\"bot col card-panel grey lighten-5\" style=\"text-align: left; max-width: 80%; display: block; border-radius: 20px; padding-top: 18px; padding-bottom: 18px; margin-bottom: 1px;\">\n                <!-- <div class=\"bot row card-panel grey lighten-5\" style=\"border-radius: 20px; padding-top: 18px; padding-bottom: 18px;\"> -->\n                  <div class=\"row valign-wrapper message\">\n                    <img v-bind:src=\"bot_img\" v-show=\"bot_img\" alt=\"(+_+)\" class=\"circle \" style=\"margin-left: 10px; height: 42px;\">\n                    <span class=\"title\" style=\"word-break: break-all; margin-left: 8px; margin-right: 10px; font-size: 15px;\" v-html=\"msg.text\"></span>\n                    <div v-if=\"msg.loading\" class=\"botui-message-content loading\" style=\"margin-right: 10px;\">\n                      <i class=\"dot\"></i>\n                      <i class=\"dot\"></i>\n                      <i class=\"dot\"></i>\n                    </div>\n                  </div>\n\n                  <template v-if=\"msg.select\">\n                    <br>\n                    <div class=\"collection\">\n                      <a v-for=\"label in msg.select\" v-on:click.stop.prevent=\"send_msg(label)\" href=\"#\" class=\"collection-item\" v-html=\"label\"></a>\n                    </div>\n                  </template>\n                          \n                </div> <!-- col card -->\n                  \n                  \n              </div> <!-- row -->\n                  \n              <div class=\"row\">\n                <span style=\"color: #888888; font-size: 12px;\" v-html=\"msg.timestamp\"></span>\n              </div>\n\n            </template>\n\n            <template v-if=\"msg.who == 'human'\">\n          \n                       \n                          \n              <div class=\"row\" style=\"margin-bottom: 2px;\">\n                <!-- <div v-show=\"msg.show\" class=\"human row card-panel white-text\" style=\"background-color: #00afdd; border-radius: 20px; padding-top: 18px; padding-bottom: 18px;\"> -->\n                <div :id=\"msg.id\" class=\"col card-panel white-text right\" style=\"float: right; max-width: 80%; background-color: #00afdd; border-radius: 20px; padding-top: 18px; padding-bottom: 18px; margin-bottom: 1px;\">\n                  <div class=\"row valign-wrapper message\" style=\"padding-left: 10px;\">\n                    <span style=\"margin-left: auto; margin-right: 10px; font-size: 15px;\" v-html=\"msg.text\"></span>\n                    <img v-bind:src=\"human_img\" v-show=\"human_img\" alt=\"(^_^)\" class=\"circle\" style=\"margin-right: 10px; height: 42px;\">\n                  </div>\n                </div> <!-- col card -->\n                          \n\n            \n              </div> <!-- row -->\n              <div class=\"right\" style=\"float: right; text-align: right;\">\n                <span style=\"height: 100px; color: #888888; font-size: 12px;\" v-html=\"msg.timestamp\"></span>\n              </div>\n            </template>\n          </template>\n        </div>\n      </main>\n\n\n      <div class=\"row grey lighten-4 black-text page-footer\" id=\"footer\">\n\n        <div class=\"container\" id=\"footcon\">\n          <div class=\"input-field col s10\">\n            <input ref=\"input\" @keypress.enter=\"send_msg(user_input)\" v-model=\"user_input\" type=\"text\" placeholder=\"質問を入力してください\">\n          </div>\n          <div class=\"input-field col s1\">\n            <button v-on:click=\"send_msg(user_input)\" style=\"background-color: #0063b2;\" class=\"btn waves-effect waves-light btn-floating btn-large\" type=\"button\" name=\"action\">\n              <i class=\"material-icons right\">send</i>\n            </button>\n          </div>\n            \n        </div>\n\n      </div>\n\n    \n\n\n    </div>\n\n\n    <script type=\"text/javascript\" src=\"https://code.jquery.com/jquery-3.2.1.min.js\"></script>\n    <script src=\"https://cdn.jsdelivr.net/npm/vue@2.5.0/dist/vue.min.js\"></script>\n    <script src=\"https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js\"></script>\n\n\n    <script>\n      var ini_msg = \"{{payload}}\";\n      $(window).scroll(function() {\n        app.v0 = $(this).scrollTop()\n        console.log(  $(this).scrollTop() )\n        //$('#scroll-amount').text($(this).scrollTop() + 'px');\n      });\n      function format_time( dateobj ) {\n        var hour_str = ('0' + dateobj.getHours()).slice(-2);\n        var min_str =  ('0' + dateobj.getMinutes()).slice(-2);\n        return hour_str + \":\" + min_str;\n      };\n      var app = new Vue({\n        el: '#app',\n        data: {\n          do_shake: \"\",\n          scroll_top: 0,\n          idx: -1,\n          v0: document.documentElement.clientHeight,\n          v1: window.pageYOffset,\n          v2: document.getElementById(\"main\").offsetHeight,\n          v3: document.getElementById(\"main\").scrollHeight,\n          v4: document.getElementById(\"main\").scrollTop,\n          id_cnt: 0,\n          sct: 0,\n          user_input: \"\",\n          messages: [{\n            who: \"bot\",\n            text:  ini_msg,\n            loading: false,\n            timestamp: format_time( new Date() ),\n          }, ],\n          bot_img: \"\",\n          human_img: \"\",\n        },\n          \n        computed: {\n          \n        },\n          \n          \n        mounted: function() {\n          this.$refs.input.focus();\n        },\n          \n        methods: {\n          countdown: function() {\n            if ( this.messages.length == 0 ) {\n              this.messages = [{\n                who: \"bot\",\n                text:  ini_msg,\n                loading: false,\n                timestamp: format_time( new Date() ),\n              }, ]\n              app.do_shake = \"animated shake\";\n              setTimeout( function() {\n                app.do_shake = \"\";\n              }, 1000 );\n\n              return\n            }\n            else {\n              this.messages.pop()\n              setTimeout( function() {\n                app.countdown()\n              }, 10 );\n            }\n          },\n              \n          reload: function() {\n            this.countdown();\n            this.$refs.input.focus();\n          },\n              \n          send_msg: function(msg) {\n            console.log(msg)\n            if (msg === \"\") return\n\n            this.id_cnt += 1;\n            var new_msg = {\n              who: \"human\",\n              text: msg.replace(/\\r?\\n/g,\"\"),\n              show: true,\n              id: \"human_\" + this.id_cnt,\n              timestamp: format_time( new Date() ),\n            }\n            app.messages.push(new_msg);\n            this.scrollDown();\n            //$(window).scrollTop(30);\n            this.bot_submit(msg);\n            //this.scrollDown();\n          },\n                \n          bot_submit: function(msg) {\n              \n            var answer = {\n              who: \"bot\",\n              text: \"\",\n              loading: true,\n              show: false,\n              timestamp: format_time( new Date() ),\n            }\n            app.idx = app.messages.push(answer) - 1;\n            //$(window).scrollTop(30);\n            //app.scrollDown();\n                  \n            $.ajax({\n              url: '/faq',\n              type: \"POST\",\n              data: {\n                \"input_text\" : msg\n              },\n              dataType: 'json',\n            })\n\n            .done(function(response){\n              if(response.conversation_id != null){\n                conversation_id = response.conversation_id;\n                dialog=true;\n              }\n\n              var mainAnswer = response.response.replace(/\\n/g, \"<br>\") + '<br>(' + response.confidence + ')';\n              if(response.ref_url!==\"\") {\n                mainAnswer += '<br><br><a href=\"'+response.ref_url+'\" target=\"_blank\">'+response.ref_url+'</a>';\n              }\n              var subAnswer = [];\n\n              if(response.confidence !== \"100%\" && response.class1 != null ){\n          \n                subAnswer.push(response.class1);\n                subAnswer.push(response.class2);\n                subAnswer.push(response.class3);\n              }\n\n              var reply = {\n                answer: mainAnswer,\n                selection: subAnswer,\n              }\n\n              //var idx = app.messages.length - 1\n              var idx = app.idx;\n              console.log( \"###\" + idx )\n\n              app.messages[idx].loading = false\n              app.messages[idx].text = app.auto_link(mainAnswer)\n              app.scrollDown();\n              \n              if(subAnswer.length >= 1) {\n              \tapp.recv_msg(reply)\n              }\n                     \n            })\n\n            .fail(function( jqXHR, textStatus, errorThrown ){\n\t\t\t\n                      \tvar idx = app.messages.length - 1\n                         \tapp.messages[idx].loading = false\n                         \tapp.messages[idx].text = \"申し訳ございません。データに不備があります。\";\n                         \tapp.messages[idx].timestamp = format_time( new Date() );\n                          \n           }),\n\n           this.user_input = \"\"\n           this.$refs.input.focus();\n\n          },\n\n          recv_msg: function(msg) {\n              \n            setTimeout( function() {\n              var more = {\n                who: \"bot\",\n                text: \"その他、回答候補はこちらです。\",\n                select: msg.selection,\n              }\n                  \n              app.messages.push(more)\n              console.log(\"done\")\n              app.scrollDown();\n            }, 2000);\n          },\n              \n          auto_link: function(str) {\n            var regexp_url = /http(s)?:\\/\\/([\\w-]+\\.)+[\\w-]+(\\/[\\w- ./?%&=]*)?/;\n                \n                \n            var regexp_makeLink = function(href) {\n              return '<a href=\"' + href + '\" target=”_blank”>' + href + '</a>';\n            }\n            return str.replace(regexp_url, regexp_makeLink);\n          },\n              \n          scrollDown: function() {\n            var _this = this;\n            var target = this.$el.querySelector('.main-container');\n            setTimeout( function() {\n              var height = target.scrollHeight - target.offsetHeight;\n              console.log( height )\n              target.scrollTop += 2;\n              console.log( target.scrollTop )\n              if (height <= target.scrollTop) {\n                return;\n              } else {\n                _this.scrollDown();\n              }\n            }, 0);\n          },\n              \n          scrollDown0: function() {\n            console.log( 'down' )\n            this.v0 = document.documentElement.clientHeight\n            //this.v1 = document.documentElement.scrollTop\n            this.v1 = $(window).scrollTop()\n            this.v3 = document.documentElement.scrollHeight\n                  \n            setTimeout( function() {\n              //var height = target.scrollHeight - target.offsetHeight;\n              console.log( \"scrollHeight:\"+ document.documentElement.scrollHeight )\n              console.log( \"clientHeight:\" + document.documentElement.clientHeight )\n              var height = document.documentElement.scrollHeight -  document.documentElement.clientHeight \n\n              //target.scrollTop += 10;\n                      \n              app.scroll_top += 5\n              $(window).scrollTop(app.scroll_top)\n                     \n              console.log( \"height:\" + height + \",\" + \"scrollTop:\" + app.scroll_top ) \n\n              //if (height <= target.scrollTop) {\n              //if ( st >= document.documentElement.clientHeight ) {\n              if ( app.scroll_top >= height ) {\n                //if ( height <= st ) {\n                return;\n              } else {\n                app.scrollDown();\n              }\n            }, 0);\n          }\n        }\n      });\n    </script>\n\n  </body>\n\n</html>","x":380,"y":100,"wires":[["f906cac1.23a608"]]},{"id":"96c2936e.dd64d","type":"template","z":"34978aed.753e86","name":"あいさつ","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"こんにちは Watsonです。","x":240,"y":100,"wires":[["360356ad.0dd78a"]]},{"id":"3ec77ff1.d3037","type":"function","z":"34978aed.753e86","name":"DBに回答問い合わせ","func":"msg.payload = \"class_name:\" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":400,"wires":[["dc4f4942.9cc7f8"]]},{"id":"4cc95cbd.575eb4","type":"http in","z":"34978aed.753e86","name":"","url":"/log.csv","method":"get","upload":false,"swaggerDoc":"","x":110,"y":680,"wires":[["bd335371.8e498"]]},{"id":"3fed026c.24073e","type":"http response","z":"34978aed.753e86","name":"","statusCode":"","headers":{"content-type":"application/octet-stream; charset=UTF-8","Content-Disposition":"attachment","Content-Transfer-Encoding":"binary","Cache-control":"no-cache"},"x":950,"y":760,"wires":[]},{"id":"bd335371.8e498","type":"change","z":"34978aed.753e86","name":"認証設定","rules":[{"t":"set","p":"user","pt":"msg","to":"","tot":"str"},{"t":"set","p":"password","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":260,"y":680,"wires":[["313e9037.9e9c3"]]},{"id":"1a94b0db.f3143f","type":"debug","z":"34978aed.753e86","name":"response","active":true,"console":"false","complete":"true","x":1140,"y":440,"wires":[]},{"id":"313e9037.9e9c3","type":"function","z":"34978aed.753e86","name":"BASIC認証","func":"var auth = msg.req.get('Authorization');\n\n// Base64エンコード\nvar key = (new Buffer((msg.user + ':' + msg.password).toString(), 'binary')).toString('base64');\nif(auth === undefined) { // 認証情報なし\n    msg.statusCode = 401;\n    msg.headers = {'WWW-Authenticate':'Basic realm=\\\"SECRET AREA\\\"'};\n    msg.payload = \"not auth\";\n} else if (auth.indexOf('Basic ')===0) { // BASIC認証\n    msg.base64 = auth.slice(6);\n    if(msg.base64 === key) { //echo -n 'user:password123' | base64 -e \n        msg.statusCode = 200;\n    } else { // 認証情報合ってない\n        msg.statusCode = 401;\n        msg.headers = {'WWW-Authenticate':'Basic realm=\\\"SECRET AREA\\\"'};\n        msg.payload = \"not auth\";\n    }\n} else { // 違う認証方法だった \n    msg.statusCode = 401;\n    msg.headers = {'WWW-Authenticate':'Basic realm=\\\"SECRET AREA\\\"'};\n    msg.payload = \"not auth\";\n}\n\nmsg.auth = auth;\nmsg.key = key;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":680,"wires":[["88deb5f8.d29568"]]},{"id":"b60f453b.3c7768","type":"cloudant in","z":"34978aed.753e86","name":"ログ取得","cloudant":"","database":"faq-log","service":"node-red-okano-bot-cloudantNoSQLDB","search":"_all_","design":"","index":"","x":560,"y":720,"wires":[["e42caf58.45eeb"]]},{"id":"88deb5f8.d29568","type":"switch","z":"34978aed.753e86","name":"認証に通ったときのみCSVを返す","property":"statusCode","propertyType":"msg","rules":[{"t":"eq","v":"200","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":340,"y":740,"wires":[["b60f453b.3c7768"],["3fed026c.24073e"]]},{"id":"e09a041c.f72588","type":"comment","z":"34978aed.753e86","name":"ログダウンロード","info":"","x":110,"y":640,"wires":[]},{"id":"e42caf58.45eeb","type":"function","z":"34978aed.753e86","name":"ログ補完","func":"for(i=0;i<msg.payload.length;i++){\n    if(!msg.payload[i].top_class) msg.payload[i].top_class = {};\n    if(!msg.payload[i].classes){\n        msg.payload[i].classes = [{},{},{},{},{},{},{},{},{},{}];\n    } else {\n        if(msg.payload[i].classes.length<10){\n            var notEnoughLength = 10-msg.payload[i].classes.length;\n            for(j=0;j<notEnoughLength;j++){\n                msg.payload[i].classes.push({});\n            }\n        }\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":720,"wires":[["6caf7f0d.8e236"]]},{"id":"6caf7f0d.8e236","type":"csv","z":"34978aed.753e86","name":"CSV変換","sep":",","hdrin":"","hdrout":true,"multi":"one","ret":"\\r\\n","temp":"date,question,top_class.class_name,confidence,answer,ref_url,classes[0].class_name,classes[0].confidence,classes[1].class_name,classes[1].confidence,classes[2].class_name,classes[2].confidence,classes[3].class_name,classes[3].confidence,classes[4].class_name,classes[4].confidence,classes[5].class_name,classes[5].confidence,classes[6].class_name,classes[6].confidence,classes[7].class_name,classes[7].confidence,classes[8].class_name,classes[8].confidence,classes[9].class_name,classes[9].confidence","x":840,"y":720,"wires":[["3fed026c.24073e"]]},{"id":"a73e6812.8458a8","type":"catch","z":"34978aed.753e86","name":"NLCノードエラー検知","scope":["c02583e9.4b3dd"],"x":480,"y":540,"wires":[["ff7039b2.b26568"]]},{"id":"ff7039b2.b26568","type":"function","z":"34978aed.753e86","name":"NLCアクセス不可","func":"msg.answer = '申し訳ございません。お答えできません。';\nmsg.ref_url = \"\";\nmsg.confidence = \"0%\";\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":540,"wires":[["f353cc40.6ec3f"]]}]
